body{
    margin:0px;
    background-color: lightblue;
    font-family: Arial Nova;
}


#meny{
    background-color:rgba(132, 218, 233, 0.651);
    margin-top: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#meny li{
    display:inline;
    margin-left: 30px;
}

#meny a{
    text-decoration: none;
    color: inherit;
    font-size: 18px;
}

.form{
    margin-top: 9%;
    background-color:white;
    width: 30%;
    margin-left: 35%;
    text-align: center;
    padding: 20px;
}