body {
    background-image: url("../img/orange-parasol-1938032.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center; 
    
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px; 
    letter-spacing: 5px;
}

#mapid {
    text-align: center; 
    padding-left: 60px;  
}